@import '~@/assets/styles/varibles.styl'
.header
    display flex
    line-height .86rem
    background $bgColor
    color #fff
    touch-action: none;
    .header-left
        width .64rem
        float left
        .back-icon
            text-align center
            font-size .4rem
    .header-input
        flex 1
        height .6rem
        line-height .6rem
        margin-top .12rem
        margin-left .2rem
        padding-left .2rem
        background #fff
        border-radius .1rem
        color #ccc
    .header-right
        min-width 1.24rem
        padding 0 .1rem
        float right
        text-align center
        color #fff
        .arrow-icon
            font-size .24rem
            padding-left .04rem