@import '~@/assets/styles/varibles.styl'
.header
position relative
    overflow hidden
    height $headerHeight
    line-height $headerHeight
    text-align center
    color #fff
    background-color $bgColor
    font-size .32rem
    .header-back
        position absolute
        top 0
        left 0
        width .64rem
        font-size .4rem
        text-align center
        color #fff